{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="allposts-view">
    <h1>All Posts</h1>
    
        <div class="post-view">
            <h4>New Post</h4>
            <form id="post-form">
                <textarea class="form-control" id="new-post"></textarea>
                <input type="submit" class="btn btn-primary" style="margin-top:5px;" value="Post">
            </form>
        </div>
    
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}