#allposts-view {
    margin: 5px;
}

.post-view {
    padding: 20px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #D3D3D3;
}

.post-user {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.post-time {
    color: #808080;
}